#About {
  text-align: center;
  min-height: 100vh;
}

.about__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left !important;
  padding-left: 10%;
  padding-right: 10%;
}

.about__title {
  padding-top: 5%;
  padding-bottom: 5%;
}

.about__text {
  flex: 50%;
  padding-right: 10%;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(20px, 1.5vw, 1rem);
  line-height: 26px;
}

.about__img {
  padding-top: 1em;
  width: 500px;
  height: inherit;
}

.about__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn {
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.btn-cv {
  background: #0f124b;
  text-decoration: none;
}

.btn-contact {
  background: #1397f1;
  text-decoration: none;
}
.about__link {
  text-decoration: none;
  margin-right: 2.5%;
  margin-left: 2.5%;
  font-size: 2vh;
}
