* {
  font-family: "Montserrat", sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation {
  animation: fadeIn 2s;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page__white {
  min-height: 100vh;
  background-color: white;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.page__offWhite {
  min-height: 100vh;
  background-color: #f7f7f7;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.page__title {
  padding-top: 5%;
  padding-bottom: 5%;
}
.box {
  width: 30%;
  height: inherit;
  padding: 4%;
  margin-bottom: 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.blue {
  border: 10px solid #1397f1;
}

.purple {
  border: 10px solid #0f124b;
}

.component__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn {
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.btn-cv {
  background: #0f124b;
  text-decoration: none;
  margin-left: 10%;
}

.btn-contact {
  background: #1397f1;
  text-decoration: none;
}
.btn-blue {
  background: #1397f1;
  text-decoration: none;
}

.btn-purple {
  background: #0f124b;
  text-decoration: none;
}
.component__link {
  text-decoration: none;
  margin-right: 2.5%;
  margin-left: 2.5%;
  font-size: 2.5vh;
}

.component__heading {
  font-size: 1.3rem;
  line-height: 24px;
  font-weight: 600;
}

.component__description {
  font-size: 1rem;
  font-weight: normal;
  line-height: 24px;
  padding: 5%;
}
