.article__box {
  width: 30%;
  height: inherit;
  padding: 4%;
  margin-bottom: 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.blue {
  border: 10px solid #1397f1;
}

.purple {
  border: 10px solid #0f124b;
}

.component__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn {
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.btn-cv {
  background: #0f124b;
  text-decoration: none;
  margin-left: 10%;
}

.btn-contact {
  background: #1397f1;
  text-decoration: none;
}
.about__link {
  text-decoration: none;
  margin-right: 2.5%;
  margin-left: 2.5%;
  font-size: 2vh;
}

.article__heading {
  font-size: 1.3rem;
  line-height: 24px;
  font-weight: 600;
}

.article__description {
  font-size: 1rem;
  font-weight: normal;
  line-height: 24px;
  padding: 5%;
}
