.header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)
    ),
    url("/public/unc.jpg");
  background-size: contain;
  font-weight: 600;
  height: 100vh;
}

.header > h1 {
  font-size: clamp(1vh, 4rem, 7rem);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 73px;
}
.subheader {
  font-size: clamp(10px, 1.45rem, 4rem);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 37px;
}
