#Research {
  min-height: 100vh;
  background-color: #f7f7f7;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.research__title {
  padding-top: 5%;
  padding-bottom: 5%;
}

.research__heading {
  font-weight: 500;
  font-size: 1.5rem;
  font-style: italic;
  padding-bottom: 2%;
  text-align: left;
  text-decoration: underline;
}
